  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
  }

  .footer-logo {

    margin-bottom: 20px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 0.86;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-light);
  }
  .logo-site-footer {
    display: inline-block;
  
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 0.86;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }



  .footer-list-item:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-list-address {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .footer-list-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
  }
  
  
  .second-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 60px;
  }
  .second-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  .second-list {
    display: flex;
    margin-top: 20px;
  }
  .second-list-item:not(:first-child) {
    margin-left: 10px;
  }
  .list-item-link {
    fill: var(--secondary-text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: var(--accent-color);
    }
  }

  .footer-form-text{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.88;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    cursor: default;
    color: var(--secondary-text-color-light);
  
  }
  .footer-input{
    display: block;
    padding: 15px 16px;
    height: 50px;
  
    cursor: pointer;
  
    outline: none;
    background-color: #2f303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--secondary-text-color-light);
  }

  // .footer-btn{
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 200px;
  //   height: 50px;
  
  //   cursor: pointer;
    
  //   color: var(--secondary-text-color-light);
  //   background: var(--accent-color);
  //   border: none;
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  //   border-radius: 4px;
  //   &::after{
  //     content: '';
  //     display: block;
  //     margin-left: 10px;
  //     width: 24px;
  //     height: 24px;
  //     background-image: url(../icons/icon-send.svg);
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //   }
  // }
  

  
  
  .check-link{
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    
    color: var(--accent-color);
  }
.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  cursor: default;
  color: var(--secondary-text-color-light);

}

.footer-input {
  padding: 15px 16px;
  margin-top: 20px;

width: 90vw;
  cursor: pointer;

  outline: none;
  background-color: #2f303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-text-color-light);
}


.footer-btn {
display: flex;
justify-content: center;
align-items: center;
margin-right: auto;
margin-left: auto;

margin-top: 20px;
  width: 200px;
  height: 50px;

  cursor: pointer;

  color: var(--secondary-text-color-light);
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &::after {
    content: '';
    display: block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../icons/icon-send.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
  .footer-form-container {
    margin-top: 60px;
  }
@media screen and (min-width:768px){

  .footer-input{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
  .footer-section{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
    .footer-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .second-container{
      margin-top: 0;
    }
}
@media screen and (max-width:768px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

}
@media screen and (min-width:1200px){
  .footer-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-wrapper{
    display: inline-flex;
    flex-direction: row;
  }
  .btn-section{
    display: inline-flex;
  }
  .footer-section {
    display: inline-flex;
    justify-content: start;
    text-align: left;
    margin-left: 0;
  }
  .footer-input {
    width: 358px;
  }
  .footer-btn{
    margin-left: 12px;
  }
  .footer-form-text{
    display: flex;
    margin-top: 0;
  }
  .footer-form-container {
    margin-top: 0;
  }
  .footer-wrapper{
    display: flex-box;
    flex-direction: row;
  }
  .second-container {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-left: 70px;


  }
        .footer-logo {
        
          font-size: 26px;
          line-height: 1.19;
        
        }
        
        .logo-site-footer {
        
          font-size: 26px;
          line-height: 1.19;
        
        }
        
        .footer-form {
          margin-left: 93px;
        }
        
}