
  
.close {
  position: absolute;
  right: 8px;
  top: 8px;

  padding: 6px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  fill: var(--accent-color);
}
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 451px;
  height: 609px;

  background-color: var(--secondary-text-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}


.overtitle {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
}

.form-section{
    padding: 40px;

  }
  
  .form-section__label{
    display: block;
    margin-top: 10px;
      font-weight: 400;
      font-size: 12px;
      line-height: 0.86;
      letter-spacing: 0.01em;
      color: var(--primary-text-color-light);
  }
  
  .form-section__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.50;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-dark);
  }
  
  .form-section-input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
   
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:focus{
      border: 1px solid var(--accent-color);
    }
  
    &:focus + .form-section__icon{
      fill: var(--accent-color);
      cursor: text;
    }
  }

  .form-section__icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-section__wrapper{
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  .form-section__icon{
    position: absolute;
  left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .form-section__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
  
    cursor: pointer;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    color: var(--secondary-text-color-light);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      background-color: #188CE8;
    }
  }


  .form-section__massage{
    display: block;
    width: 100%;
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  outline: none;
  
  cursor: pointer;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

  &:focus{
    border: 1px solid var(--accent-color) ;
    }
  }

  
  
  
  .form-box__label{

    display: flex;
    align-items: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 0.86;
      letter-spacing: 0.03em;
      color: var(--primary-text-color-light);

      &::before{
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid var(--primary-text-color-dark);
        margin-right: 10px;
        border-radius: 2px;
      
      }
  }


  .form-box__input:checked + .form-box__label::before{
    background-color: var(--accent-color);
  background-image: url(../icons/icon-check.svg);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 18px;
  height: 18px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-box{
    display: flex;
    align-items: center;
    justify-content: center;
      margin-top: 20px;
  }
  
  
  
  

  
  .btn-section{
    display: flex;
  }
  .form-box__wrapper{
        display: inline-flex;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 0.86;
        letter-spacing: 0.03em;
        color: var(--primary-text-color-light);
  }
  .forn-box__check-label{

    display: inline-flex;
    text-align: left;
  }
  .form-box__link{
  
    font-weight: 400;
    font-size: 12px;
    line-height: 0.86;
  
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    
    color: var(--accent-color);
    
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    z-index: 2;
  
    background-color: rgba(0, 0, 0, 0.2);
    &.is-hidden {
      pointer-events: none;
      opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &{
      opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
  }
  
@media screen and (min-width:1200px){
  .modal {
    width: 528px;
    height: 581px;
  }
  .form-box__wrapper{
    font-size: 14px;
  }
  .form-box__link{
    font-size: 14px;
  }
}
@media screen and (max-width:479px) {
    .form-box__wrapper {
      display: block;
    }
  .form-section {
    padding: 15px;
    padding-top: 50px;
  
  }
  .modal {
    max-width: 100%;   
  }
  .close{
    top: 25px;
  }
}
