.hero {
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-bg {
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 1600px;
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/team.jpg);
  }
  
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-container__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-light);
  }
  .hero-container__btn {
    min-height: 40px;
    padding: 6px 18px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--secondary-text-color-light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #188ce8;
      color: var(--secondary-text-color-light);
    }
  }
