

.main-section {
  background-color: var(--secondary-text-color-light);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.portfolio-list__item{
  margin-right: 8px;
  margin-bottom: 12px;
}


.portfolio-list__btn {
  min-height: 40px;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-dark);
  background-color: var(--third-text-color-light);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--secondary-text-color-light);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.main-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-dark);
}

.main-list__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-light);
}
.list-photo{
  size: cover;
}


.main-list__item{
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
}
.main-list__link,
  .portfolio-wrapper__bg {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.main-list__link:hover .portfolio-wrapper__bg,
.main-list__link:focus .portfolio-wrapper__bg {
  transform: translateY(0);
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  transform: translateY(110%);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-wrapper__text {
  display: block;
  position: absolute;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color-light);
}
.work {
  padding-top: 60px;
}

@media screen and (max-width:370px) {
  .portfolio-wrapper__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.30;
    padding: 30px 20px;
  }
}
@media screen and (min-width:768px){
  .main-list__link {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .portfolio-list {

    margin-bottom: 30px;
  }
  .main-list {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 30px ;
    grid-row-gap: 30px;
  }
  .main-list__item {
    display: flex;
    margin-bottom: 0;
  }
  .portfolio-list__item {
    margin-bottom: 0;
  
    &:last-child {
      margin-right: 0;
    }
  }
  

  .portfolio-list {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
  }
  
  .portfolio-list__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width:1200px) {
  .portfolio-list {
    margin-bottom: 50px;
  }

  .main-list {
    display: flex;
    flex-wrap: wrap;
  }
  

.work{
  padding-top: 94px;
}
}
.overtitle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 24px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-top: 0;
  box-sizing: border-box;
}
