.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

  .caption-subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-dark);
  }
  
  .caption-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-light);
  }
    .caption-list__item {
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
@media screen and (min-width:768px){
  .caption {
    display: flex;
    justify-content: center;
  }
  .caption-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .caption-list__item{
    margin-bottom: 0;
  }
  .caption-subtitle {
    display: flex;
    justify-content: start;
  }
    .icon-section{
      width: 354px;
    }
}
@media screen and (min-width:1200px) {


  .icon-section {
    width: 270px;
    height: 120px;

  }
  

  
  .caption-list {
    display: flex;
    flex-direction: row;

  }

  

  

}






// .caption {
//   display: flex;
//   justify-content: center;
// }



// .caption-list-item {
//   flex-basis: calc((100% - 120px) / 4);
//   margin-top: 30px;
//   margin-left: 30px;
// }

// .caption-subtitle {
//   margin-bottom: 10px;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--primary-text-color-dark);
// }
