body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}


li {
  list-style: none;
}
a {
  text-decoration: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }