:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color-dark: #212121;
    --primary-text-color-light: #757575;
    --secondary-text-color-light: #ffffff;
    --third-text-color-light: #f5f4fa;
    --accent-color: #2196f3;
  }
  
